.container {
  padding: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 42px;
}

.static {
  width: 50%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.static img {
  width: 80%;
  margin-bottom: 10px;
}
.static p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
.info {
  padding: 17px 44px;
  gap: 10px;

  width: 199px;
  height: 70px;

  /* #FFFFFF */

  background: #ffffff;
  border: none;
  border-radius: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 36px; */
  color: #311589;
}
.dropDown {
  width: 50%;
}
.dropDown ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.dropDown ul li {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dropDown ul li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.dropDown ul li div div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.dropDown ul li img {
  cursor: pointer;
}
.dropDown ul li h3 {
  font-size: 23px;
  margin: 15px 0;
  cursor: pointer;
}
.dropDown ul li p {
  display: none;
  /* transition: opacity .4s ease-out; */
  /* opacity: 0; */
}

.DropDownElement {
  display: block !important;
  margin-left: 85px;
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .static p {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .static p {
    font-size: 19px;
    line-height: 26px;
  }
  .dropDown ul li h3 {
    font-size: 19px;
    margin: 0;
    /* line-height: ; */
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: space-between; */
  }

  .static {
    width: 100%;
  }
  .static img {
    width: 80%;
  }
  .static p {
    font-size: 17px;
    line-height: 25px;
  }
  .info {
    padding: 17px 34px;
    gap: 10px;
    width: auto;
    height: auto;
    font-size: 19px;
  }
  .dropDown {
    width: 100%;
  }

  .dropDown ul li div div {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .dropDown ul li div div img {
    width: 35px;
    height: 35px;
  }
  .dropDown ul li h3 {
    font-size: 19px;
    margin: 10px 0;
  }
  .dropDownImg {
    width: 15px;
    height: 8px;
  }
  .DropDownElement {
    margin-left: 35px;
    font-size: 15px;
  }
}
