.container {
  width: 880px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  /* left: 0px;
  top: 0px; */
  background: linear-gradient(180deg, rgba(7, 0, 29, 0) 0%, #07001d 100%),
    url(/banner.png);
  background-repeat: no-repeat;
}
.container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 161px;
  /* identical to box height, or 161px */

  /* text-align: center; */
}
.container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 81px;
  /* or 81px */
}
.container p {
  margin: 80px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 42px;
  /* or 42px */
}
@media only screen and (max-width: 600px) {
  .container {
    width: auto;
    margin: 0 auto;
    padding: 50px ;
  }
  .container img{
    width: 100%;
  }
  .container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    /* identical to box height, or 161px */
  
    /* text-align: center; */
  }
  .container h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    /* or 81px */
  }
  .container p {
    margin: 40px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* or 42px */
  }
}