.container {
  /* width: 1440px; */
  /* margin: 0 auto; */
  padding: 0 100px;
  height: 516.07px;
}
.container ul {
  /* width: 1241.27px; */
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.container ul li:not(:nth-child(1)) {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  /* font-size: 24px; */
}

.container ul li:nth-child(1) {
  list-style-type: none;
}
.container ul li:nth-child(1) h1 {
  font-size: 37px;
  font-weight: 600;
}
.container ul li:nth-child(1) p {
  font-size: 18px;
  color: rgb(187, 187, 187);
}
.container ul li h2 {
  font-size: 24px;
  font-weight: 500;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container ul {
    gap: 30px;
  }
  .container ul li:nth-child(1) h1 {
    font-size: 30px;
    margin: 10px 0;
    margin-bottom: 15px;
  }
  .container ul li:nth-child(1) p {
    font-size: 16px;
    margin: 10px 0;
  }
  .container ul li h2 {
    /* font-size: 19px; */
    font-weight: 500;
  }
  .container img {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 50px 30px;
    height: auto;
  }
  .container ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
  .container img {
    width: 45px;
    height: 45px;
  }
  .container ul li:not(:nth-child(1)) {
    gap: 10px;
    /* font-size: 24px; */
  }

  .container ul li:nth-child(1) h1 {
    font-size: 40px;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
  }
  .container ul li:nth-child(1) p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  .container ul li h2 {
    /* font-size: 17px; */
    margin: 0;
    font-weight: 500;
  }
}
