.container {
  padding: 100px;
}
.heading h3 {
  margin: 6px 0;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
}
.heading h4 {
  margin: 6px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 38px;
  text-align: center;
}
.container ul {
  margin-top: 50px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 13px;
}
.container ul li {
  list-style-type: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .container ul {
    margin-top: 50px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container ul {
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }
  .container img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 50px 30px;
  }
  .heading h3 {
    margin:  0;
   
    font-size: 40px;
    line-height: 66px;
  }
  .heading h4 {
    margin: 0 0;
   
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }
  .container ul {
    margin-top: 20px;   
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
  }
  .container img {
    width: 100%;
    height: 100%;
  }
}