.container {
  padding: 100px;
}
.heading h3 {
  margin: 12px 0;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
}
.heading p {
  /* width: 560px; */
  /* height: 70px; */
  margin: 0 auto 80px;
  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
}
.container ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}
.container ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 25px 30px;
  gap: 30px;
  background: #0c0033;
}
.container ul li div {
  height: 70px;
}
.container ul li h4 {
  margin: 17px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.container ul li p {
  /* width: 307.27px; */
  /* height: 52px; */

  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* color: #9c99a5; */
}
.container ul li a {
  margin: 30px 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  gap: 10px;
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .container ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .container ul li {
    padding: 50px 60px;
  }
  .container ul li h4 {
    font-size: 30px;
  }
  .container ul li p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .container ul li {
    padding: 25px 30px;
  }
  .container ul li h4 {
    font-size: 25px;
  }
  .container ul li p {
    font-size: 19px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 50px 30px;
  }
  .heading h3 {
    margin: 0;

    font-size: 40px;
    line-height: 66px;
  }
  .heading p {
    margin: 0 auto;
    font-size: 17px;
    line-height: 34px;
  }
  .container ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 23px;
  }
  .laptop {
    width: 100%;
  }
}

.viewWork {
  width: 12rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.viewWork .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}

.viewWork .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #0c0033;
}

.viewWork .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.viewWork .circle .icon::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0725rem;
  width: 0.725rem;
  height: 0.725rem;
  border-top: 0.125rem solid #0c0033;
  border-right: 0.125rem solid #0c0033;
  transform: rotate(45deg);
}

.viewWork .buttonText {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}

.viewWork:hover .circle {
  width: 100%;
}

.viewWork:hover .circle .icon {
  background: #fff;
  transform: translate(1rem, 0);
}

.viewWork:hover .buttonText {
  color: #0c0033;
}
