@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  /* max-width: 1440px; */
  padding: 0;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #07001d;
  }
}

/* scrollbar styles*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #07001d;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a4a4a4;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

/* Buttons styles */
.button {
  --color: #311589;
  padding: 12px 24px;
  gap: 10px;
  width: 201px;
  height: 54px;
  background: #ffffff;
  border: none;
  border-radius: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: #311589;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 101px;
  height: 54px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(255, 255, 255);
}

.button:active {
  filter: brightness(0.9);
}
